.card-services {
  margin-top: 30px;
}
.card-services .card-list .list .item .icon {
  margin: 0;
  margin-right: 10px;
}
.card-services .card-list .list .item {
  padding: 10px;
  color: var(--primary);
  font-weight: 600;
}
.card-services .card-list .list .item:hover {
  color: white;
}
.card-services .card-list .list .item:hover {
  background-color: white;
  color: var(--primary) !important;
  text-decoration: underline;
}
