.sticky-call {
    position:fixed;
    bottom: 0;
    left:0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
    justify-content: center;
    padding: 5px 0px;
}
.sticky-call button {
    width:45%;
    padding:12px 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;
    font-size:18px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
    
}
.sticky-call button:hover {
    background-color: #e0dcdc;
}
.sticky-call .btn-right {
    border-radius: 0%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 3px;

}