.header {
    display: flex;
    flex-direction: row;
    padding:20px;
    justify-content: space-around;
    align-items: center;
}
.header img {
    width:150px;
}
.header .MuiFormControl-root {
    width:30%;
}