.call-animation {
    background: #2cd420;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom:80px;
    left:20px;
    margin: 0 auto;
    border-radius: 100%;
    border: solid 5px #2cd420;
    animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
  
}
.call-animation svg {
    font-size: 30px;
    color:white;
}
.img-circle{
        width: 60px;
        height: 60px;
        border-radius: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0px;
        top: 0px;
        background-color: #2cd420;
}
@keyframes play {

    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(44, 212, 32, 0.4);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(44, 212, 32, 0.4), 0 0 0 20px rgba(44, 212, 32, 0.2);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(44, 212, 32, 0.4), 0 0 0 30px rgba(44, 212, 32, 0.2);
    }

}

