.App .banner-img {
    width:100vw;
}
.container-row {
    display: flex;
    flex-direction: row;
    margin-top:30px;
}
.post-bottom {
    margin-top: 30px;
}
@media only screen and (max-width: 890px) { 
    .container-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}